html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F6FFE4;
    font-family: DM Sans;
}

div {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.title {
    margin: 200px;
    color: black;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    transform: translate(0,120px);
}
