body.dark {
    transition: 0.5s;
    background-color: #191919;
    color: white;
}

.dark .header-menu li a {
    transition: 0.5s;
    color: white;
}

.dark .header-menu li a:hover {
    transition: 0.5s;
    color: #118DA8;
}

.dark .main-photo {
    transition: 0.5s;
    border: 4px solid #118DA8;
}

.dark .colortext {
    transition: 0.5s;
    color: #118DA8;
}

.dark .about-photo {
    transition: 0.5s;
    border: 4px solid #118DA8;
}

.dark .header {
    transition: 0.5s;
    background-color: #191919;
    color: white;
}

.dark .title {
    transition: 0.5s;
    background-color: #191919;
    color: white;
}

.dark .skills-info {
    transition: 0.5s;
    background: #118DA8;
}

.btn-light {
    transition: 0.5s;
    display: block;
}

.dark .icons {
    display: none;
}

.dark .icons-dark {
    display: flex;
}
