.header {
    position: sticky;
    top: 0;
    background-color: #F6FFE4;
    z-index: 2;
}

.header-logo-light {
    display: flex;
    padding: 20px 0px 20px 0px;
    justify-content: space-between;
}

.header-logo-dark {
    display: flex;
    padding: 20px 0px 20px 0px;
    justify-content: space-between;
}

.header-menu {
    display: flex;
}

ul {
    list-style-type: none;
}

.header-menu li { 
    margin-right: 80px;
}

.header-menu li a {
    font-size: 20px;
    color: black;
}

.header-menu li a:hover {
    color: #789554;
}

a {
    text-decoration: none;
}

#toggle-theme-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
    padding: 2px;
}
