.main-content {
    margin-top: 20px;
}

.main-photo {
    margin-top: 50px;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    border: 4px solid #A90098;
    transform: translate(0,120px);
}

.main-info {
    float: right;
    margin: 400px 80px 0 0;
    font-size: 70px;
    cursor: default;
}

.colortext {
    color: #A90098;
}

@media screen and (max-width: 420px) {
    .main-photo {
        display: none;
    }

    .main-info {
        display: none;
    }
}
