.skills-info {
    opacity: 1;
    width: 1170px;
    height: 600px;
    background: #A90098;
    border-radius: 20px;
    margin-bottom: 100px;
}

.programms-logo {
    display: flex;
    padding-top: 130px;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.design-logo {
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 420px) {
    .skills-info {
        display: none;
    }

    .programms-logo {
        display: none;
    }

    .design-logo {
        display: none;
    }
}