.css {
    position: relative;
    width: 100px;
    height: 100px;
    background: url(https://cdn-icons-png.flaticon.com/512/732/732190.png) center no-repeat;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
}

.css::before,
.css::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60% + 35px);
    background-color: #A90098;
    transition: transform .5s .25s ease-in;
    z-index: -1;
}

.css::before {
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.css::after {
    bottom: 0;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(100%);
}

.css__content {
    opacity: 0;
    transition: opacity .25s;
}

.css:hover::before,
.css:hover::after {
    transform: translateY(0);
}

.css:hover .css__content {
    opacity: 1;
    transition-delay: .75s;
}

.css__title {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    cursor: default;
}