.ps {
    position: relative;
    background: url(https://cdn-icons-png.flaticon.com/512/541/541586.png) center no-repeat;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    margin-top: 100px;
}

.ps::before,
.ps::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #789554;
    transition: transform .5s .25s ease-in;
    z-index: -1;
}

.ps::before {
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.ps::after {
    bottom: 0;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(100%);
}

.ps__content {
    opacity: 0;
    transition: opacity .25s;
}

.ps:hover::before,
.ps:hover::after {
    transform: translateY(0);
}

.ps:hover .ps__content {
    opacity: 1;
    transition-delay: .75s;
}

.ps__title {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: default;
}